---
layout: default
title: SRC Lab.
---
<div class="index">
  <div class="container">
    <br>
    <div class="row" style="line-height: 1.6;">
      <div class="col-sm-6" >
        <h1 style="display:inline">
          <b> Welcome to the  <ruby> SRC <rt> <i style="font-size:12pt;color:dimgrey;letter-spacing:0.5px">Source</i></rt> </ruby> Lab. </b>
        </h1> 
        <p></p><p></p>
        <p style="font-size:large; text-align:justify"> 
          Led by <b>Taejune Park</b> and <b>Maeje Kim</b> the SRC (Secure and Reliable Computing) laboratory at Chonnam National University focuses on information security. In particular, we are currently focusing on research challenges including, (1) Cloud and Network security, (2) Security for/with AI (as well as adversarial AI), and (3) Traffic and system analysis. Also, we are going to study on innovative AI-based security systems as well :)
        </p>
        <h4><p> 
          <b><a href="/page/joinus.html"> <span class="glyphicon glyphicon-hand-right" aria-hidden="true"> </span> Are you interested in joining our laboratory? Join us! >> </a></b>
        </p></h4>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-6">         
              <div class="slidebox">
                    <input type="radio" name="slide" id="slide01" checked>
                    <input type="radio" name="slide" id="slide02">
                    <input type="radio" name="slide" id="slide03">
                    <input type="radio" name="slide" id="slide04">

                    <!-- <input type="radio" name="slide" id="slide04"> -->
                    <ul class="slidelist">
                      <li class="slideitem"> <!-- 1 -->
                        <a>
                          <label for="slide04" class="left"></label>  
                          <label for="slide02" class="right"></label>
                          <img src="/image/src/logo_blue.png">
                        </a>
                      </li>
                      <li class="slideitem"> <!-- 2 -->
                        <a>
                          <label for="slide01" class="left"></label>
                          <label for="slide03" class="right"></label>
                          <img src="/image/src/logo_sand.png"> 
                        </a>
                      </li>
                      <li class="slideitem"> <!-- 3 -->
                        <a>
                          <label for="slide02" class="left"></label>
                          <label for="slide04" class="right"></label>
                          <img src="/image/photo/kics2024w-05.jpg">  
                        </a>
                      </li>
                      <li class="slideitem"> <!-- 4 -->
                        <a>
                          <label for="slide03" class="left"></label>
                          <label for="slide01" class="right"></label>
                          <img src="/image/photo/kics2023w-05.jpg">
                        </a>
                      </li>
                    </ul>
              </div>

      </div>
    </div>
    <br>
    <div class="row">
      <div class="jumbotron"; style="background-color:whitesmoke; font-size:large">
          <h2 class="news"> <a href="/page/news"> <b> News >> </b> </a> </h2>
          {% for news in site.data.news limit: 5 %}
          <div class="pub row" style="padding-top:20px; line-height: 1.6;" >
            <div class="col-sm-2" style="margin-right:-50px;margin-left:00px;">
              <span class="post-meta"> {{ news.date }} </span>
            </div>
            <div class="col-sm-10" style="line-height: 1.6;">
               {{ news.title }} 

               {% if news.link %}
               <a href="{{ news.link }}" target="_self">[Link]</a>
               {% endif %}

               {% if news.nlink %}
               <a href="{{ news.nlink }}" target="_blank">[Link]</a>
               {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
    /* 리셋 CSS */
    * {margin:0;padding:0;box-sizing:border-box;}
    ul, li {list-style:none;}

    /* 슬라이드 Style */
    .slidebox {max-width:1000px;margin:0 auto;}
    .slidebox .slidelist {white-space:nowrap;font-size:0;overflow:hidden;}
    .slidebox .slidelist .slideitem {position:relative;display:inline-block;vertical-align:middle;width:100%;transition:all 1s;}
    .slidebox .slidelist .slideitem > a {display:block;width:auto;position:relative;}
    .slidebox .slidelist .slideitem > a img {margin:auto; max-width: 90%; max-height: 300px; display:block }
    .slidebox .slidelist .slideitem > a label {position:absolute;top:50%;transform:translateY(-50%);padding:20px;border-radius:50%;cursor:pointer;}
    .slidebox .slidelist .slideitem > a label.left {left:20px;background:#777 url('/image/slideimg/left-arrow.png') center center / 50% no-repeat; opacity:0.3;}
    .slidebox .slidelist .slideitem > a label.right {right:20px;background:#777 url('/image/slideimg/right-arrow.png') center center / 50% no-repeat; opacity:0.3}

    [name="slide"] {display:none;}
    #slide01:checked ~ .slidelist .slideitem {transform:translateX(0);    animation:slide01 30s ease-in-out infinite;}
    #slide02:checked ~ .slidelist .slideitem {transform:translateX(-100%);animation:slide02 30s ease-in-out infinite;}
    #slide03:checked ~ .slidelist .slideitem {transform:translateX(-200%);animation:slide03 30s ease-in-out infinite;}
    #slide04:checked ~ .slidelist .slideitem {transform:translateX(-300%);animation:slide04 30s ease-in-out infinite;}

    /* @keyframes slide01 {
      0% {left:0%;}
      33% {left:0%;}
      34% {left:-100%}
      66% {left:-100%;}
      67% {left:-200%;}
      99% {left:-200%;}
      100% {left:0%;}
    } 

    @keyframes slide02 {
      0% {left:0%;}
      33% {left:0%;}
      34% {left:-100%;}
      66% {left:-100%;}
      67% {left:100%;}
      99% {left:100%;}
      100% {left:0%;}
    }

    @keyframes slide03 {
      0% {left:0%;}
      33% {left:0%;}
      34% {left:-100%;}
      66% {left:-100%;}
      67% {left:100%;}
      99% {left:100%;}
      100% {left:0%;}
    }

    @keyframes slide04 {
      0% {left:0%;}
      33% {left:0%;}
      34% {left:200%;}
      66% {left:200%;}
      67% {left:100%;}
      99% {left:100%;}
      100% {left:0%;}
    }*/

    @keyframes slide01 {
      0% {left:0%;}
      24% {left:0%;}
      25% {left:-100%}
      49% {left:-100%;}
      50% {left:-200%;}
      74% {left:-200%;}
      75% {left:-300%;}
      99% {left:-300%;}
      100% {left:0%;}
    }

    @keyframes slide02 {
      0% {left:0%;}
      24% {left:0%;}
      25% {left:-100%}
      49% {left:-100%;}
      50% {left:100%;}
      74% {left:100%;}
      75% {left:200%;}
      99% {left:200%;}
      100% {left:0%;}
    }

  
    @keyframes slide03 {
      0% {left:0%;}
      24% {left:0%;}
      25% {left:-200%}
      49% {left:-200%;}
      50% {left:-100%;}
      74% {left:-100%;}
      75% {left:100%;}
      99% {left:100%;}
      100% {left:0%;}
    }

    @keyframes slide04 {
      0% {left:0%;}
      24% {left:0%;}
      25% {left:300%}
      49% {left:300%;}
      50% {left:200%;}
      74% {left:200%;}
      75% {left:100%;}
      99% {left:100%;}
      100% {left:0%;}
    }

  
        /* 페이징 스타일 */
    .paginglist {text-align:center;padding:0px 0;}
    .paginglist > li {display:inline-block;vertical-align:middle;margin:0 00px;}
    .paginglist > li > label {display:block;padding:4px 30px;border-radius:10px;background:#ccc;cursor:pointer;margin:0px 5px;}
    .paginglist > li:hover > label {background:#777;}
    #slide01:checked ~ .paginglist > li:nth-child(1) > label {background:#777;}
    #slide02:checked ~ .paginglist > li:nth-child(2) > label {background:#777;}
    #slide03:checked ~ .paginglist > li:nth-child(3) > label {background:#777;}
    #slide04:checked ~ .paginglist > li:nth-child(4) > label {background:#777;}
</style>