<footer class="site-footer navbar navbar-default">

    <div class="container">

        <div class="address">
            <div class="row" style="line-height: 1.6;">
                <div class="col-md-10">
                    <address>
                        <strong> School of Artificial Intelligence, Chonnam National University </strong><br>
                        <p></p>
                        
                        Room 422, Engineering Bldg. #7 <br>
                        Chonnam National University <br>
                        77, Yongbong-ro, Buk-gu, Gwangju (61186) <br>
                        +82-62-530-4231 <br>
                        <!-- <abbr title="Email">E:</abbr> <a href="mailto:#"></a>taejune.park /*at*/ jnu.ac.kr</a> <br> -->
                        
                        <br>
                        <a href="https://www.google.com/maps/place/35%C2%B010'41.9%22N+126%C2%B054'33.0%22E/@35.1782974,126.9069693,17z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d35.1782926!4d126.9091583" target="_blank">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Google maps</a> | 
                        <a href="https://aisw.jnu.ac.kr/" target="_blank"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> https://aisw.jnu.ac.kr/ </a> | 
                        <a href="https://www.jnu.ac.kr/" target="_blank"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> https://www.jnu.ac.kr/ </a> <br>
                        <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
                    </address>

                </div>
                <col-md-2>
                    <!-- <strong>Find us on</strong>
                    <ul class="social-media-list">
                        {% if site.github_username %}
                        <li>
                            {% include icon-github.html username=site.github_username %}
                        </li>
                        {% endif %}

                        {% if site.twitter_username %}
                        <li>
                            {% include icon-twitter.html username=site.twitter_username %}
                        </li>
                        {% endif %}
                    </ul> -->
                </col-md-2>
            </div>
        </div>

        <div class="copyright row">
                &copy; 2022 Chonnam National University Secure and Reliable Computing Lab.
        </div> 
    </div>
</footer>

<!--
     Bootstrap core JavaScript
     Placed at the end of the document so the pages load faster
   -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- CDN for latest core JavaScript (compiled and minified) -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
