---
layout: default
---

<div class="faculty">
    <div class="container"  style="line-height: 1.6;">
        <h1 class="Faculty"> Faculty </h1>
        
        <div class="row">
            <div class="col-sm-3">
                <IMG SRC="../images/faculty/taejune_park.jpg" ALT="Taejune Park" ALIGN="CENTER" hspace="20" vspace="20" HEIGHT="300">
            </div>
            <div class="col-sm-8">
                <p>
                    <h1> <b> Taejune Park (박태준) </b> </h1>
                    <h3> <b> Assistant Professor / Ph.D. </b> </h3>
                    <h4> <em> College of AI Convergence, School of Artificial Intelligence, </em></h4>
                    <h4> <em> Chonnam National University </em> </h4> 
                </p>  <br>

                <p>
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Office: Engineering Building #7, Room 422 <br>
                    <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Phone: +82-62-530-4232  <br>
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> E-mail: taejune.park&ensp;[at]&ensp;jnu.ac.kr <br>
                    <a href="https://scholar.google.com/citations?user=yjrmSkAAAAAJ"><span class="glyphicon glyphicon-education" aria-hidden="true"></span>&ensp;Google scholar</a></li> 
                </p>
            </div>
        </div>
        <div class="row">
            <p> 
                Taejune Park is an Associate Professor at the College of AI Convergence, School of Artificial Intelligence at Chonnam National University (JNU). He received the Ph.D. degree from Korea Advanced Institute of Science and Technology (KAIST), advised by <a href="http://nss.kaist.ac.kr/?page_id=29"> Prof. Seungwon Shin</a>, the M.S degree from KAIST, and the B.S. from Korea Maritime and Ocean University (KMOU), all in Computer Science/Engineering. Prior to joining JNU in 2021, he has been a post-doctoral researcher fellow at KAIST, software developer at an internship program at Samsung Electronics Co., LTD., called Samsung Software Membership. His research interests include security issues on an SDN/NFV environment and IoT (Inter of Things), and a data plane architecture.
            </p>
        <div>
    
        <hr>

        <h3> Education </h3>
        {% for pub in site.data.faculty.education %}
        <div class="row" style="padding-top:0px">
            <div class="col-sm-9">
                <p>
                    <ul> 
                        <li> <b> {{ pub.degree }} </b> </li>
                        <ul>
                            <li> <i> {{ pub. where }} </i> </li>
                            
                            {% if pub.dissertation %}
                            <li> Dissertation: {{ pub.dissertation }} </li>
                            {% elsif pub.thesis%}
                            <li> Thesis: {{ pub.thesis }} </li>
                            {% endif %}

                            {% if pub.advisor %}
                            <li> Advisor: {{ pub.advisor }} </li>
                            {% endif %}
                        </ul>
                    </ul>
                </p>
            </div> 
            <div class="col-sm-3">
                <p> {{pub.year}} </p>
            </div>
        </div>
        {% endfor %}

        <h3> Experience </h3>
        {% for pub in site.data.faculty.experience %}
        <div class="row" style="padding-top:0px">
            <div class="col-sm-9">
                <p>
                    <ul> 
                        <li> <b> {{ pub.affiliation }} </b> </li>
                        <ul>
                            {% if pub.group %}
                            <li> <i> {{ pub.group }} </i> </li>
                            {% endif %}

                            {% if pub.position %}
                            <li> {{ pub.position }} </li>
                            {% endif %}
                            
                            <!-- 
                            {% if pub.supervisor %}
                            <li> Supervisor: {{ pub.supervisor }}
                            {% endif %}
                            -->
                        </ul>
                    </ul>
                </p>
            </div> 
            <div class="col-sm-3">
                <p> {{pub.date}} </p>
            </div>
        </div>
        {% endfor %}

        <h3> Honors & awards </h3>
        {% for pub in site.data.faculty.award %}
        <div class="row" style="padding-top:0px">
            <div class="col-sm-9" >
                <p>
                    <ul> 
                        <li> <b> {{ pub.title }} </b> </li>
                        <ul>
                        <li> <i> {{ pub.host }} </i> </li>

                        {% if pub.grade %}
                        <li> {{ pub.grade }} {% if pub.prize %} ~ Prize: {{ pub.prize }} {% endif %} </li>
                        {% endif %}
                        </ul>
                    </ul>
                </p>
            </div> 
            <div class="col-sm-3">
                <p> {{pub.date}} </p>
            </div>
        </div>
        {% endfor %}

        <h3> Academic services </h3>
        {% for pub in site.data.faculty.service %}
        <div class="row">
            <div class="col-sm-10" style="line-height: 1.0;">
                <p>
                    <ul> 
                        <li> {{ pub.title }} of <i> {{ pub.affiliation }}</i>: {{ pub.date }} </li>
                    </ul>
                </p>
            </div> 
        </div>
        {% endfor %}
        <br>
    </div>
</div>

