---
layout: default
title: SRC Lab.
---
<div class="news">
    <div class="container">
        <h1 class="lecture"> News </h1>

        <div class="news-list">
            {% for news in site.data.news %}
            <article class="news-item">
                <time class="news-date">{{ news.date }}</time>
                <div class="news-body">
                    <p>
                        {{ news.title }}

                        {% if news.link %}
                        <a href="{{ news.link }}" target="_self">[Link]</a>
                        {% endif %}

                        {% if news.nlink %}
                        <a href="{{ news.nlink }}" target="_blank" rel="noopener">[Link]</a>
                        {% endif %}
                    </p>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</div>
