---
layout: default
title: SRC Lab.
---
<div class="people">
    <div class="container">
        <h1 class="Lecture"> People </h1>
        <div class="row people-grid">
            {% for person in site.data.people.member %}
            <div class="person col-xs-12 col-sm-6 col-md-3">
                <div class="person-card">
                    <img src="{{ person.photo }}" alt="{{ person.name }}" class="person-photo" loading="lazy">

                    <div class="person-info">
                        {% if person.link %}
                        <h3 class="person-name"><a href="{{ person.link }}"><b>{{ person.name }}</b></a></h3>
                        {% else %}
                        <h3 class="person-name"><b>{{ person.name }}</b></h3>
                        {% endif %}

                        {% if person.role %}
                        <p class="person-role"><b>{{ person.role }}</b></p>
                        {% endif %}

                        {% if person.email %}
                        <p class="person-email">{{ person.email }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %} 
        </div>

        <hr class="alumni-divider">

        <section class="alumni-section">
            <h2 class="Lecture">Alumni</h2>
            <div class="row alumni-list">
            {% for person in site.data.people.alumni %}
                <div class="col-xs-12 col-sm-6 col-md-4 alumni-entry">
                    {% if person.link %}
                    <h3 class="alumni-name"><a href="{{ person.link }}"><b>{{ person.name }}</b></a></h3>
                    {% else %}
                    <h3 class="alumni-name"><b>{{ person.name }}</b></h3>
                    {% endif %}

                    {% if person.role %}
                    <p class="alumni-role">{{ person.role }}</p>
                    {% endif %}

                    {% if person.job %}
                    <p class="alumni-job">{{ person.job }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </section>
    </div>
</div>
