---
layout: default
title: SRC Lab.
---
<div class="people">
    <div class="container">
        <h1 class="Lecture"> People </h1> <br>
        <div class="row justify-content-center align-items-stretch">
            {% for person in site.data.people.member %}
            <div class="person col-12 col-sm-6 col-md-4 col-lg-3 text-center mb-5">
                <img src="{{ person.photo }}" alt="photo" class="person-photo img-circle" height="300px" width="auto">
                
                {% if person.link %}
                <h3 class="person-name"> <a href="{{ person.link }}"> <b> {{ person.name }} </b> </a> </h3> 
                {% else %}
                <h3 class="person-name"> <b>{{ person.name }}</b> </h3>
                {% endif %}
                
                <b> {{ person.role }} </b> <br>
                {{ person.email }}
                <br>
                <br>
            </div>
            {% endfor %} 

            <!-- clearfix 적용 -->
            <div class="w-100"></div>
        </div>

        <!-- <br>
        <hr>
        <br>

        <h2 class="Lecture"> Alumni </h2> <br>
        <div class="row justify-content-center align-items-stretch">
            {% for person in site.data.people.alumni %}
            <div class="person col-12 col-sm-6 col-md-4 col-lg-3 text-center mb-5">
                <img src="{{ person.photo }}" alt="photo" class="person-photo img-circle" width="200px">
                
                {% if person.link %}
                <h3 class="person-name"> <a href="{{ person.link }}"> <b> {{ person.name }} </b> </a> </h3> 
                {% else %}
                <h3 class="person-name"> <b>{{ person.name }}</b> </h3>
                {% endif %}
            </div>
            {% endfor %} 
            <div class="w-100"></div>
        </div> -->
    </div>
</div>
