---
layout: default
title: SRC Lab.
---
<div class="photo">
      <div class="container" style="line-height: 1.6;">
          <h1 class="photo"> Photo </h1>
            {% for pub in site.data.photo %}
            <div class="row" style="line-height: 1.6;">
                  <h3><b>{{ pub.title }}</b> <em>{{ pub.date }}</em></h3>

                  <div class="photo-grid">
                    {% for i in (1..8) %}
                      {% assign key = 'photo' | append: i %}
                      {% assign filename = pub[key] %}
                      {% if filename %}
                        <div class="photo-item">
                          <a href="/image/photo/{{ filename }}" target="_blank" rel="noopener">
                            <img class="photo-thumb" src="/image/photo/{{ filename }}" loading="lazy" alt="{{ pub.title }} {{ i }}">
                          </a>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
            </div>
            <br>
            {% endfor %}
      </div>
</div>