---
layout: default
title: SRC Lab.
---

<div class="container">
    <h1 class="projects"> Projects </h1>

    <img src="../images/misc/underconstruction.jpg">
    <!-- {% for pub in site.data.project.project %}
    <div class="pub row">
        <div class="col-md-3">
            <img class="img-responsive" alt="Illustration" src="{{ pub.image }}"/ Align="center">
        </div>
        <div class="col-md-7">
            <h2 class="pub-title"> <b>{{ pub.title }}</b></h2>
            <!-- <p class="pub-author"> {{ pub.author }} </p> 
            
            {% if pub.publish %}
            <p class="pub-where"> <span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{ pub.publish }} </p>
            {% endif %}

            <p class="pub-abstract">{{ pub.abstract }}</p>
            
            {% if pub.detail %}
            <p class="pub-year">
                <a href="{{ pub.detail }}"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span> View details </a>
            </p>
            {% endif %}
        </div>
    </div>
    {% endfor %} -->
</div>
