---
layout: default
title: SRC Lab.
---
<div class="project">
    <div class="container">
        <h1 class="project"> Research </h1>
        <hr>
        <p>
            <h2 style="color:#04128E; font-weight:bolder;"> We study security and reliability on computing system, network, Internet of things, and AI security. </h2> 
        </p>
        <p></p><p></p>

        <h3 style="font-weight:bolder"> Representative study  </h3>
        {% for group in site.data.research.study %}
        <div class="row">
            <div class="col-sm-10" style="line-height: 1.0;">
                <h4 class="pub-title"><b>{{ group.group }}</b></h4>
                <ul>
                    {% for pub in group.studies %}
                    <li>{{ pub.topic }}; <i>{{ pub.nickname }}</i></li>
                    {% endfor %}
                </ul>
            </div> 
        </div>
        {% endfor %}

        <p></p><hr><p></p>

        <h3 style="font-weight:bolder"> Research project  </h3>
            {% for pub in site.data.research.project %}
            <div class="row">
                <div class="col-sm-10" style="line-height: 1.0;">
                    <p>
                        <ul><li> 
                            <h4 class="pub-title">  <b> {{ pub.title }} </b></h4>
                            <p class="pub-author"> <i>{{ pub.order }}</i>, {{ pub.date }} </p>
                        </li></ul>
                    </p>
                </div> 
            </div>
            {% endfor %}
        <p></p><hr><p></p>
        
        <h3 style="font-weight:bolder"> The SRC Lab. conducts joint researches with various institutions  </h3><br><br>
        {% for pub in site.data.research.joint %}
        <div class="institution col-md-3 col-sm-6 col-xs-12">
            <p> <img src="{{ pub.img }}" alt="institution logo" class="institution-logo"><br><br> </p>
        </div>
        {% endfor %}
    </div>
</div>
